.contact {
  align-items: self-start;
  padding: var(--section-gutter);
  padding-inline: 10vw;
  position: relative;
  margin-bottom: 30px;
}

.contact-container {
  padding-left: 200px;
}

.contact-info-container {
  display: flex;
  gap: 30px;
}

.contact-info {
  border: 1px solid var(--color-border);
  padding: 15px 20px;
}

.contact-info p {
  font-family: var(--font-body);
  font-size: 13px;
  color: var(--color-primary);
}

.contact-info p:first-child {
  color: var(--color-text-muted);
  font-family: var(--font-body);
  letter-spacing: 1px;
}
